<nav>
    <div>
        <a href="/"> <h1>Danny's Blog</h1>  </a>
        <p>A news blogs Website</p>
     </div>
      <ul>
         <li>
            <a href="/">Blogs</a>
        </li>
        <li>
            <a href="/about"> About Us</a>
        </li>
        <li>
            <a href="/blogs/create">New Blogs</a>
        </li>
    </ul>
</nav>