<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Danny's Blog | <%= title %></title>
</head>


<body>
    <header>ABOUT </header>
    <nav>
        <div>
            <a href="/"> <h1>Danny's Blog</h1>  </a>
            <p>A news blogs Website</p>
        </div>
        <ul>
            <li>
                <a href="/">Blogs</a>
            </li>
            <li>
                <a href="/about"> About Us</a>
            </li>
            <li>
                <a href="/blogs/create">New Blogs</a>
            </li>
        </ul>
    </nav>
    <h2>ABOUT US</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
</body>
</html>