<!DOCTYPE html>
<html lang="en">
      <%- include('./partials/head.ejs') %>


<body>
    <header>ABOUT </header>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h2>ABOUT US</h2>
    <p>Lorem ipsum dol sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit </p>

    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>

</html>