<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>


<body>
    <header>ABOUT </header>
     <%- include('./partials/nav.ejs') %>
     <div>
        <form action="" class="create-blog form">
            <label for="title">TITLE</label>
            <input type="text" required>
            <label for="snippet">Blog snippet :</label>
            <input type="text" required>
            <label for="body">Blog Body :</label>
            <textarea name="" id="" cols="30" rows="10" required></textarea>
            <button>Submit</button>
         </form>

    </div>
    
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>
